<h2>
  Find What You Need!
</h2>
<div class="main">
  <div class="auto icon">
    <a routerLink="auto">
      <img src="assets/img/car.png" alt="car" />
    </a>
  </div>
  <div class="homes icon">
    <a routerLink="homes">
      <img src="assets/img/house.png" alt="homes" />
    </a>
  </div>
  <div class="music icon">
    <a routerLink="music">
      <img src="assets/img/record-player.png" alt="music" />
    </a>
  </div>
  <div class="dating icon">
    <a routerLink="dating">
      <img src="assets/img/care.png" alt="dating" />
    </a>  
  </div>
</div>
